<!DOCTYPE html>
<html>
<head>
  <title>Edição de Aluno</title>
</head>
<body>
  <h1>Editar Aluno</h1>
  <form method="POST" action="/alunos/save">
    <input type="hidden" name="id" value="<%= aluno.id %>" />
    <label>Nome:</label><input type="text" name="nome" value="<%= aluno.nome %>" required /><br>
    <label>Email:</label><input type="email" name="email" value="<%= aluno.email %>" required /><br>
    <label>Telefone:</label><input type="text" name="telefone" value="<%= aluno.telefone %>" /><br>
    <button type="submit">Salvar</button>
  </form>
</body>
</html>