<!DOCTYPE html>
<html>
<head>
    <title>Novo Aluno</title>
</head>
<body>
    <h1>Cadastrar Aluno</h1>

    <form method="POST" action="/aluno/novo">
        <input name="nome" placeholder="Nome" required />
        <input name="idade" type="number" placeholder="Idade" required />
        <button type="submit">Salvar</button>
    </form>

    <a href="/aluno">Voltar</a>
</body>
</html>

