<!DOCTYPE html>
<html>
<head>
  <title>Cadastro de Aluno</title>
</head>
<body>
  <h1>Cadastro de Aluno</h1>
  <form method="POST" action="/alunos/save">
    <label>Nome:</label><input type="text" name="nome" required /><br>
    <label>Email:</label><input type="email" name="email" required /><br>
    <label>Telefone:</label><input type="text" name="telefone" /><br>
    <button type="submit">Salvar</button>
  </form>
</body>
</html>