<!DOCTYPE html>
<html>
<head>
    <title>Novo Curso</title>
</head>
<body>
    <h1>Cadastrar Curso</h1>

    <form method="POST" action="/curso/novo">
        <input name="nome" placeholder="Nome do curso" required />
        <input name="carga_horaria" type="number" placeholder="Carga horária" required />
        <button type="submit">Salvar</button>
    </form>

    <a href="/curso">Voltar</a>
</body>
</html>

